<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.2.1" targetFramework="net461" />
  <package id="IngeniBridge.BuildUtils" version="1.0.5" targetFramework="net461" />
  <package id="IngeniBridge.Core" version="1.0.33" targetFramework="net461" />
  <package id="JT.TechCases.Threading" version="1.0.10" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>